[Unit]
Description=Run a backup prune and check
Requires=mnt-borg.mount

[Service]
Type=oneshot
ExecStart=/bin/bash -c "while ! /usr/bin/borgmatic -v2 prune check; do sleep 30; done"
