[Unit]
Requires=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle
Restart=always
RestartSec=10

[Install]
WantedBy=sway-session.target
